<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--Which Provider-->
    <add key="providerSQLSvr" value="System.Data.SqlClient"/>
    <add key="provider" value="MySqlConnector"/>
    <add key="provider" value="System.Data.OleDb"/>

    <add key="connectionStringSQLSvr" value="Data Source=localdb\mssqllocaldb; Initial Catalog=autolot;Integrated Security=True"/>
    <add key="connectionString" value="Server=localhost;User ID=root;Password=administrator;Database=autolot"/>
    <add key="connectionString" value="Provider=SQLNCLI11;User ID=root;Password=administrator;Data Source=(localdb)\mssqllocaldb; Integrated Security=SSPI;Initial Catalog=autolot"/>


  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>

  <system.data>
    <DbProviderFactories>
      <add name="MySqlConnector"
         invariant="MySqlConnector"
         description="Async MySQL ADO.NET Connector"
         type="MySqlConnector.MySqlConnectorFactory, MySqlConnector, Culture=neutral, PublicKeyToken=d33d3e53aa5f8c92" />
    </DbProviderFactories>
  </system.data>
  
</configuration>